.clearSearchButton{
    border: none;
    margin-right: 8px;
    margin-top: 7px;

    &:hover{
        background-color: var(--bs-gray-200);
    }
    
    &:focus{
        outline: 1px solid var(--bs-gray-400);
        background-color: var(--bs-gray-200);
    }
}