.actions{
    z-index: -1;
    opacity: 0;
    transition: .2s opacity;
}

.icon{
    width: 24px;
    text-align: center;
}

.title{
    text-align: left;
}

.visible {
    opacity: 1;
    z-index: 1;
}
