.wrapper{
    /*height: 100vh;*/
    width: 100%;
    overflow: hidden;

    background: url("../../assets/wood-texture.jpg") no-repeat top left lightgray;
    background-size: cover;
}

.collapsePanel{
    background-color: #fff;
    width: 50px;
}

.sidebar{
    overflow-y: auto;
    min-height: 100%;

    /*min-width: 300px;*/
}

.fixHeight{
    @media (width > 992px) {
        height: 100vh;
    }
}

.mainContent{
    overflow-y: auto !important;
    min-height: 100%;
}

.resizeHandle{
    background-color: rgba(255, 255, 255, .2);
    transition: background-color .2s ease;
    cursor: col-resize;

    outline: none;
    flex: 0 0 .5rem;

    &:hover{
        background-color: rgba(0, 0, 0, .1);
    }

}

.ResizeHandleThumb{
    fill: currentColor;
    flex: 0 0 1rem;
    width: 1rem;
    height: 1rem;
}


.closeSidebarBtn{
    transition: .3s background-color;
    width: 24px;
    height: 24px;
    border: none;

    &:hover{
        background-color: var(--bs-gray-300);
    }

    &:focus,
    &:active{
        background-color: var(--bs-gray-300);
    }
}

.sidebarContent{
    /*min-width: 300px;*/
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    position: relative;
    
    overflow: visible !important;
}

.sidebarCollapsed{
    /*height: 100%;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    display: none !important;
    flex: 0 0 0 !important;
    flex-shrink: 0;
}


@media (min-width: 768px){
    .panelGroup{
        height: calc(100vh - 75px) !important;
    }
}

@media (max-width: 768px){
    .panelGroup{
        display: block !important;
        height: auto !important;
    }

    .sidebar{
        /*display: none;*/
    }

    .mainContent{
        width: 100% !important;
        flex: 1;
    }

    .resizeHandle{
        display: none;
    }
}