.sidebar {
    grid-area: aside;
}

.actions {
    width: 100%;
    @media (width > 575px) {
        width: auto;
    }

    button{
        /*min-height: 30px;*/
    }
}

.sidebarRow {
    &:hover {
        background-color: var(--bs-gray-200);
        border-radius: 8px;

        .addBtn {
            opacity: 1;
        }
    }
}

.addBtn {
    opacity: .6;
    transition: .3s opacity;
    border: none;
    padding: 2px;
    min-height: 0;
    &:hover {
        background-color: var(--bs-gray-400);
    }
    
    &:after{
        display: none !important;
    }

    svg {
        width: 20px;
        height: 20px;
    }
}