.itemTitle {
    width: calc(100vw - 283px);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    @media (width > 575px) {
        min-width: 150px;
        width: auto;
        overflow: visible;
        text-wrap: wrap;
    }
}

.productItem {
    transition: .3s background-color;

    &.active,
    &:hover {
        background-color: var(--bs-list-group-border-color) !important;
    }
}


.actions {
    /*width: 100%;*/
    @media (width > 575px) {
        width: auto;
    }

    button {
        /*min-height: 30px;*/
    }
}

.actionButton {
    height: 30px;
    min-width: 34px;
    
    svg{
        margin: 0 auto;
    }
}


.counter {
    width: 60px;
    @media (width > 575px) {
        width: 100px;
    }
}

.category {
    @media (width > 575px) {
        min-width: 180px;
    }
}


.saveButton {
    background-color: var(--bs-white);
    border-color: var(--bs-success);
    padding-left: 6px;
    padding-right: 6px;

    path {
        color: var(--bs-success);
    }

    &:active,
    &:focus,
    &:hover {
        background-color: var(--bs-success);
        border-color: var(--bs-success);

        path {
            color: var(--bs-white);
        }
    }
}


.editButton {
    background-color: var(--bs-white);
    border-color: var(--bs-btn-border-color);

    height: 30px;

    path {
        color: var(--bs-btn-border-color);
    }

    &:active,
    &:focus,
    &:hover {
        background-color: var(--bs-btn-border-color);
        border-color: var(--bs-btn-border-color);

        path {
            color: var(--bs-white);
        }
    }
}

.cancelButton,
.deleteButton {
    background-color: var(--bs-white);
    border-color: var(--bs-red);
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;

    path {
        color: var(--bs-red);
    }

    &:active,
    &:focus,
    &:hover {
        background-color: var(--bs-red);
        border-color: var(--bs-red);

        path {
            color: var(--bs-white);
        }
    }
}
