.wrapper {
    grid-template-areas: 
            "header header" 
            "aside main";
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto 1fr;
}

.skip-link {
    background-color: var(--bs-gray-500);
    color: var(--bs-black);
    line-height: 1;
    text-decoration: none;
    transform: translateY(-100%);
    transition: transform .3s;
    z-index: 10;
}

.skip-link:focus {
    transform: translateY(0%);
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}


.main {
    grid-area: main;
    background: url("assets/wood-texture.jpg") no-repeat center center lightgray;
    background-size: cover;
}




.sidebar{
    --sidebar-tree-item-height : 32px;
    a{
        
        color: var(--bs-gray-800);
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .menu-item{
        border-radius: 8px;
        &.active{
            background-color: var(--bs-gray-200);
            /*color: var(--bs-white);*/
        }
        &:hover{
            background-color: var(--bs-gray-200);
            border-radius: 4px;
        }
    }

    .sidebar-link{
        line-height: var(--sidebar-tree-item-height);
    }
    
    .counter {
        font-size: 11px;
        width: 24px;
        height: 24px;
    }
}


.list-group-item{
    transition: .3s background-color;
    &:hover{
        background-color: var(--bs-list-group-border-color);
    }    
}


.title-counter{
    font-size: 12px;
    color: var(--bs-gray-700);
}


.item-title{
    min-width: 150px;
}
    
.actions{
    button{
        background-color: var(--bs-white);
    }
}
.delete-btn{
    border-color: var(--bs-red);
    path{
        color: var(--bs-red);
    }
    
    &:hover{
        background-color: var(--bs-red);
        border-color: var(--bs-red);
        path{
            color: var(--bs-white);
        }
    }
}

.delete-tooltip{
    background-color: var(--bs-red) !important;
    color: white !important;
    padding: 8px 12px !important;
    border-radius: 4px !important;
}