.wrapper {
    grid-template-areas: 
            "header header" 
            "aside main";
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto 1fr;
}


header {
    grid-area: header;
}

aside {
    grid-area: aside;
}


.main {
    grid-area: main;
    background: url("assets/wood-texture.jpg") no-repeat center center lightgray;
}




.sidebar{
    --sidebar-tree-item-height : 32px;
    a{
        border-radius: 8px;
        color: var(--bs-gray-800);
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .menu-item{
        &.active > a{
            background-color: var(--bs-gray-200);
            /*color: var(--bs-white);*/
        }
    }
    .submenu{
       
        
        
    }

    .submenu-item{
        height: var(--sidebar-tree-item-height);
        &:hover{
            background-color: var(--bs-gray-200);
            border-radius: 4px;
        }
    }

    .sidebar-link{
        line-height: var(--sidebar-tree-item-height);

    }
    
    .counter {
        font-size: 11px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

