/*.wrapper {*/
/*    grid-template-areas: */
/*            "header header" */
/*            "aside main";*/
/*    grid-template-columns: 15% 1fr;*/
/*    grid-template-rows: auto 1fr;*/
/*}*/

.deleteTooltip{
    background-color: var(--bs-red) !important;
    color: white !important;
    padding: 8px 12px !important;
    border-radius: 4px !important;
}

.saveTooltip{
    background-color: var(--bs-success) !important;
    color: white !important;
    padding: 8px 12px !important;
    border-radius: 4px !important;
}

.sidebarTooltip{
    z-index: 1;
}